/****global****/
*{
	font-family: "微软雅黑",Arial,Times;
}

/****标题****/
.title1{
	font-size: 80px;
	color: #000;
	font-weight: bold;
}
.title2{
	font-size: 43px;
	color: #333;
	font-weight: normal;
}
.title3{
	font-size: 25px;
	color: #666;
	font-weight: bold;
	line-height: 40px;
}
.title4{
	font-size: 20px;
	color: #666;
	font-weight: bold;
	line-height: 30px;
}

/****文本****/
.text-body{
	font-size: 23px;
	color: #999;
}
.text-menu{
	font-size: 20px;
	color: #333;
}
/****背景****/
.bg-red{
	background-color: #dd4b39;
}
.bg-blue{
	background-color: #3366cc;
}
.bg-white{
	background-color: #000;
}
.bg-bar{
	background-color: #f1f1f1;
}

/****border****/
.border-bar{
	border: 1px solid #ebebeb;
}
.border-title{
	border: 2px solid #ebebeb;
}









